p{
width: 500px;
  margin: auto;
  border: 3px solid
}
h1 {
    text-shadow: 2px 2px 5px red;
  }
  /* Arial (sans-serif)
  Verdana (sans-serif)
  Tahoma (sans-serif)
  Trebuchet MS (sans-serif)
  Times New Roman (serif)
  Georgia (serif)
  Garamond (serif)
  Courier New (monospace)
  Brush Script MT (cursive)   */
  
  body {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
  }
